ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav .caidan {
	float: left;
}

nav .sou {
	float: right;
}

nav.top {
	background: rgba(0, 0, 0, 0.41);
	width: 1140px;
	overflow: hidden;
	margin: 0 auto;
}

nav.top ul li {
	float: left;
	line-height: 54px;
	color: white;
	padding-top: 4px;
}

nav.top form {
	float: right;
	line-height: 54px;
}

nav.top ul li a {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	/*没有下划线*/
	transition: all 1s;
	/*变化3秒*/
}

nav.top ul li:after {
	content: '/';
}

nav.top ul li:last-of-type:after {
	content: '';
}

nav.top ul li:first-of-type a {
	color: yellow;
	border-top: 4px solid yellow;
}

nav.top ul li a:hover {
	color: yellow;
	border-top: 4px solid yellow;
}

header {
	background: url(images/banner.jpg);
	background-size: cover;
	padding-top: 15px;
}

nav.top form input {
	background: transparent;
	border: 1px solid white;
	outline: none;
	color: white;
	padding: 5px 10px;
	margin-right: 20px;
}

nav.top form {
	position: relative;
}

nav.top form input[type="submit"] {
	background: url(images/search.png)no-repeat;
	width: 22px;
	height: 22px;
	border: none;
	cursor: pointer;
	position: absolute;
	padding: 0;
	top: 17px;
	right: 26px;
	margin-right: 0;
	background-position: center;
}

h1 {
	font-size: 72px;
	font-family: "微软雅黑";
	align-content: center;
	border-bottom: 4px solid white;
	border-top: 5px solid white;
	display: inline;
}

.cat {
	margin: 200px 0 0 0;
	text-align: center;
	color: white;
}

header .cardbox {
	margin: 0 auto;
	overflow: hidden;
	width: 1140px;
	position: relative;
	top: 150px;
}

.card {
	width: 205px;
	color: white;
	background: #16A667;
	padding: 25px;
	margin: 0 15px;
	text-align: center;
	float: left;
}

header .cardbox .card img {
	border: 8px solid white;
	border-radius: 50%;
	padding: 5px;
	width: 100px;
	transition: all .3s;
}

header .cardbox .card p {
	line-height: 24px;
	font-size: 14px;
	margin: 0;
}

header .cardbox .card img:hover {
	transform: rotateY(360deg);
}

section.oub {
	background: #eee;
	overflow: hidden;
	padding-top: 200px;
	padding-bottom: 30px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.warp {
	width: 1140px;
	margin: 0 auto;
}

section.oub .fl {
	width: 400px;
	
}

section.oub .fr {
	width: 700px;
	line-height: 24px;
	color: #666666;
}

section h3.titl {
	font-size: 36px;
	margin-top: 0;
}
img {
	max-width: 100%;
}
.our {
	background: black;
	overflow: hidden;
	
}
.our1 {
	width: 1140px;
	color: white;
	height: 460px;
	margin:  0 auto;	
}

.our3 img {
	background: darkgreen;
	position: relative;
	padding: 7px 14px;
}
.our .our1 h4{
	font-size: 20px;
}
.our .our1 h3 {
	font-size: 36px;
	margin: 17px;
	margin-top: 37px;			
}

.our3 {
	width: 350px;
	color: white;
	padding: 15px;
	text-align: center;
	float: left;	
}

.our .our1  .our3 p {
	line-height: 26px;
	font-size: 14px;
	margin: 0;
	color: #999999;
}

.our3 img:hover {
	background: coral;
}

section.work {
	overflow: hidden;
	background: #EEEEEE;
	
}

section.work .work2 {
	position: relative;
	width: 285px;
	height: 245px;
	float: left;
}
section.work.work2:first-of-type {
	width: 285px;
	height: 245px;
}
section.work .work2 .work3 {
	transform: scale(0);
	transition: all .5s;
	position: absolute;
	top: 0;
	left: 0;
	padding: 90px 110px;
	background: rgba(15, 16, 15, 0.16);
	width: 65px;
	height: 65px;
}
section.work .work2:hover .work3 {
	transform: scale(1);
	box-shadow: 0 0 10px 0 white;
}

.work .work1 h3 {
	font-size: 36px;
	margin-top: 0;
	margin: 0 auto;
	overflow: hidden;
	width: 1140px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}

.work1 {	
	width: 1140px;
	margin: 0 auto;
}

.latest {
	overflow: hidden;
}

.latest .latest1 h3 {
	font-size: 36px;
	margin: 0 auto;
	overflow: hidden;
	width: 1140px;
	margin: 30px 0;
	margin: 35px 5px;
}
.latest1{
	width: 1140px;
	height: 680px;
	overflow: hidden;
	margin: 0 auto;
}
.latest  .latest3 p {
	line-height: 24px;
	font-size: 14px;
	margin: 0;
	color: #C3C3C3;
}

.latest3 {
	width: 350px;
	margin: 0 15px;
	float: left;
	margin: 0 auto;
	padding: 0 15px;
}

.latest  .latest3 a {
	text-decoration: none;
	color: black;
	margin-top: 25px;
}
a.box {
	background:orange;
	width: 120px;
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
	height: 40px;
}

a.box span {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 40px;
}

a.box:after {
	content: '';
	width: 100%;
	height: 100%;
	background: green;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s;
}

a.box:hover:after {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
}

.up {
	background: black;
	overflow: hidden;
}
.up .upp .up1 h3 ,.up4 h3 , .up11 h3{
	color: white;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.upp {
	
margin: 0 auto;
width: 1140px;
height: 400px;
padding: 56px 0px;
}
.up3 {
	/*display: none;*/
	/*display: inline-block;*/
	float: right;
	height: 70px;
	width: 230px;
}
.up .up1 .img1 {
	width: 70px;
	height: 70px;
	float: left;
	/*padding-right: 15px;*/
}
.up .up2{
	height: 70px;
	width: 315px;
	padding-bottom: 30px;
}
.up .up1  p {
	color: #999999;
	float: right;
	padding: 0 0;
	margin: 0 0;
	font-size: 14px;
	/*position: relative;
	top: -40px;
	left: 89px;*/
}
.up4 .p1{
	float: left;
	color: darkgray;
	margin: 0;
	padding: 0;
}
.up .up1 .a2 {
	color: white;
	text-decoration: none;
	font-size: 20px;
	float: left;
	display: block;
}
.up .up4 .a1 {
	color: #999999;
	text-decoration: none;
}
.up1 {
	height: 331px;
	position: relative;
	width: 300px;
	float: left;
	padding:0px 50px;	
}
.up11 {
	height: 331px;
	position: relative;
	width: 350px;
	float: left;
	padding:0px 50px;	
}
.up4 {
	width: 200px;
	float: left;
}
.up11 .u2 li {
	background: url(images/list-arrow.png)no-repeat 0 15px;
	font-size: 13px;
	line-height: 26px;
	color: #999;
	padding: 6px 24px;
}
.up4  .p1 {
	float: left;
	color: #999;
}
.up5{
	margin: 0 auto;
	height: 40px;
	width: 200px;
	padding-bottom: 50px;
}
.phone {
	width: 40px;
	height: 40px;
	background: url(images/img-sprite1.png)no-repeat -220px 0px;
	display: inline-block;
	/* float: left; */
}
.smartphone {
    /* float: left; */
	width: 40px;
	height: 40px;
	background: url("images/img-sprite1.png") no-repeat -260px 0px;
	display: inline-block;
}
.clearfix {
	/* float: left; */
	width: 40px;
	height: 40px;
	background: url("images/img-sprite1.png") no-repeat -300px 0px;
	display: inline-block;
}

.bo{
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 50px;
}
.bo1 {
	width: 52px;
	height: 52px;
	background-image: url(images/img-sprite1.png);
	/*background-repeat: no-repeat;*/
	display: inline-block;
	margin-right: 20px;	
	
}
.bo2 {
	width: 52px;
	height: 52px;
	background-image: url(images/img-sprite1.png);
	/*background-repeat: no-repeat;*/
	display: inline-block;
	margin-right: 20px;		
}
.bo3 {
	width: 52px;
	height: 52px;
	background-image: url(images/img-sprite1.png);
	/*background-repeat: no-repeat;*/
	display: inline-block;
	margin-right: 20px;		
}
.bo4 {
	width: 52px;
	height: 52px;
	background-image: url(images/img-sprite1.png);
	/*background-repeat: no-repeat;*/
	display: inline-block;	
}
.bo1:nth-of-type(1) {
	background-position-x: -3px ,-3px;
}
.bo2:nth-of-type(2) {
	background-position-x: -58px ,-3px;
}
.bo3:nth-of-type(3) {
	background-position-x: -112px ,-3px;
}
.bo4:nth-of-type(4) {
	background-position-x: -167px ,-3px;
}
.wb .wb1 ul li a{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	color: black;
}
.wb1{
	width: 700px;
	display: inline-block;		
}
.wb2{
	text-align: center;
}
.wb3 a {
	text-decoration: none;
	color: green;
}
.wb3 p{
	text-align: center;
	font-size: 18px;
	padding-bottom: 50px;
}
.bod h3{
	font-size: 50px;
	text-align: center;
	
}
.bod{
	display: block;
}
.bod2{
	width: 1140px;
	overflow: hidden;
	margin: 0 auto;	
}
.bod1{
	float: left;
	width: 370px;
}
.bod1 p,.bod3 p{
	font-size: 24px;
	padding: 0 0;
	margin-bottom: 10px;
}
.bod1 input {
	width: 350px;
	height: 40px;
}

.bod3 textarea{
	width: 1090px;
	height: 350px;
}

.bod4 {
	height: 22px;
	width: 45px;
	background: green;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 40px;
	padding-top: 11px;
	padding-bottom: 16px;
	margin-top: 20px;
}
.bod44{
	width: 200px;
	height: 90px;
	
}
.bod4 a{
	text-decoration: none;
	
}
.bod4:hover{
	background: orange;
}
